<div style="text-align:center">
  <h1>
    SISTEM INFORMASI
  </h1>
  <h2>
    Ahmad Roul Ma'rufi(1800016159)
  </h2>
  <img width="200px" alt="Angular Logo" src="assets/aku.png">
</div>
<ul>
  <li><a href="" routerLink="/home" >Praktikum 1</a></li>
  <li><a href="" routerLink="/student">Praktikum 2</a></li>
  <li><a href="" routerLink="/teacher">Praktikum 3</a></li>
  <li><a href="" >Praktikum 4</a></li>
  <li><a href="" >Praktikum 5</a></li>
  <li><a href="" >Praktikum 6</a></li>
  <li><a href="" >Praktikum 7</a></li>
  <li><a href="" >Praktikum 8</a></li>
  <li><a href="" >Praktikum 9</a></li>
  <li><a href="" >Praktikum 10</a></li>
<router-outlet></router-outlet>